<navbar-timeline></navbar-timeline>
    <header>
        <div class="mobile-header-wrapper sticky d-block d-lg-none">
            <div class="mobile-header position-relative ">
                <div class="mobile-logo">
                    <a href="index.html">
                        <img src="../../../../assets/images/logo-white.webp" alt="logo">
                    </a>
                </div>
                <div class="mobile-menu w-100">
                    <ul>
                        <li>
                            <button class="notification request-trigger"><i class="bi bi-people"></i>
                                <span>03</span>
                            </button>

                        </li>
                        <li>
                            <button class="notification"><i class="bi bi-bell"></i>
                                <span>03</span>
                            </button>
                        </li>
                        <li>
                            <button class="chat-trigger notification"><i class="bi bi-chat-dots"></i>
                                <span>04</span>
                            </button>
                            <div class="mobile-chat-box">
                                <div class="live-chat-title">

                                    <div class="profile-thumb">
                                        <a href="profile.html">
                                            <figure class="profile-thumb-small profile-active">
                                                <img src="../../../../assets/images/profile-p.webp" alt="profile picture">
                                            </figure>
                                        </a>
                                    </div>

                                    <div class="posted-author">
                                        <h6 class="author"><a href="profile.html">Robart Marloyan</a></h6>
                                        <span class="active-pro">active now</span>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <button class="search-trigger">
                                <i class="bi bi-search"></i>
                                <i class="close-icon flaticon-cross-out"></i>
                            </button>
                            <div class="mob-search-box">
                                <form class="mob-search-inner">
                                    <input type="text" placeholder="Search Here" class="mob-search-field">
                                    <button class="mob-search-btn"><i class="bi bi-search"></i></button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mobile-header-profile">
                    <div class="profile-thumb profile-setting-box">
                        <a href="javascript:void(0)" class="profile-triger">
                            <figure class="profile-thumb-middle">
                                <img src="../../../../assets/images/profile-p.webp" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="main-wrapper pt-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-2 order-lg-1">
                        <aside class="widget-area">

                            <div class="card card-profile widget-item p-0">
                                <div class="profile-banner">
                                    <figure class="profile-banner-small">
                                        <a href="profile.html">
                                            <img src="assets/images/banner/banner-small.jpg" alt="">
                                        </a>
                                        <a href="profile.html" class="profile-thumb-2">
                                            <img src="../../../../assets/images/profile-p.webp" alt="">
                                        </a>
                                    </figure>
                                    <div class="profile-desc text-center">
                                        <h6 class="author"><a href="profile.html">Erik Jhonson</a></h6>
                                        <p>Any one can join with but Social network us if you want Any one can join with us if you want</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card widget-item">
                                <h4 class="widget-title">page you may like</h4>
                            </div>

                            <div class="card widget-item">
                                <h4 class="widget-title">latest top news</h4>
                            </div>

                        </aside>
                    </div>

                    <div class="col-lg-6 order-1 order-lg-2">

                        <div class="card card-small">
                            <div class="share-box-inner">

                                <div class="profile-thumb">
                                    <a href="#">
                                        <figure class="profile-thumb-middle">
                                            <img src="../../../../assets/images/profile-p.webp" alt="profile picture">
                                        </figure>
                                    </a>
                                </div>

                                <div class="share-content-box w-100 ">
                                    <form #newPostForm = 'ngForm' (submit) = 'handlePostSubmission(newPostForm.value); newPostForm.reset()' class="share-text-box" ngNativeValidate>
                                            <textarea name="Text" ngModel class="share-text-field" aria-disabled="true" placeholder="Say Something" data-bs-toggle="modal" data-bs-target="#textbox" required></textarea>
                                            <img id="previewImage" src="#" alt="image" accept="image/png, image/jpeg" *ngIf="imageSelected" class="mt-2">
                                            <button *ngIf="imageSelected" (click) = 'removeSelectedImage()' class="d-block remove-image-button">Remove Image</button>
                                            <div *ngIf="pollClicked" class="poll-field mt-2">
                                                <p class="pt-2 text-center">Poll</p>
                                                <input name="question1" type="text" placeholder="Choice 1" ngModel required>
                                                <input name="question2" type="text" placeholder="Choice 2" ngModel required>
                                                <hr style="margin-bottom: 1px;">
                                                <button id="remove-poll-button" (click) = 'removePoll()'>Remove Poll </button>
                                            </div>
                                            <span class="post-actions" *ngIf="!pollClicked && !imageSelected">
                                                <label for="file-upload" class="custom-file-upload ms-1">
                                                    <i class="bi bi-card-image" title="Media"></i>
                                                </label>
                                                <input id="file-upload" type="file" (change) = 'handleImageSelection($event)'>
                                                <i class="bi bi-clipboard2-data" (click) = 'openPoll()' title="Poll"></i>
                                            </span>
                                        <button class="btn-share mt-2" type="submit">share</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card" *ngFor="let post of timelinePosts">
                                <div class="post-title d-flex align-items-center">
    
                                    <div class="profile-thumb">
                                        <a href="#">
                                            <figure class="profile-thumb-middle">
                                                <img src="../../../../assets/images/profile-p.webp" alt="profile picture">
                                            </figure>
                                        </a>
                                    </div>
    
                                    <div class="posted-author">
                                        <h6 class="author"><a href="profile.html">{{post.authorFirstName}} {{post.authorLastName}}</a></h6>
                                        <span class="post-time">{{post.timeDif}}</span>
                                    </div>
    
                                    <div class="post-settings-bar">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <div class="post-settings arrow-shape">
                                            <ul>
                                                <li><button>Report</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="post-content">
                                    <p class="post-desc">
                                        {{post.text}}
                                    </p>
                                    <div class="post-thumb-gallery">
                                        <figure class="post-thumb img-popup" *ngIf="post.photos.length > 0">
                                            <a href="{{post.photos[0]}}" target="_blank">
                                                <img src={{post.photos[0]}} alt="post-image">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="post-meta">
                                        <button class="post-meta-like d-flex align-items-center">
                                            <i class="bi bi-heart"></i>
                                            <span>0</span>
                                        </button>
                                        <ul class="comment-share-meta">
                                            <li>
                                                <button class="post-comment d-flex align-items-center" (click) = 'openComments(post.id)'>
                                                    <i class="bi bi-chat-right-dots"></i>
                                                    <span>{{post.comments.length}}</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="post-share d-flex align-items-center">
                                                    <i class="bi bi-share"></i>
                                                    <span>07</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div *ngIf="post.commentsClicked" class="comment-form">
                                        <hr>
                                        <form class="comment-inner-form" #commentForm = 'ngForm' (submit) = 'handleCommentSubmission(commentForm.value , post.id); commentForm.reset()' ngNativeValidate>
                                            <textarea type="text" name="Text" class="comment-input-field" placeholder="Make a comment.." ngModel required></textarea>
                                            <button type="submit" class="comment-submit-button"><i class="bi bi-send"></i></button>
                                        </form>
                                        <div class="loading" id="animation-loading" *ngIf="showCommentLoadingAnimation">
                                            <div class="loading-inner">
                                              <div class="loader">
                                                <div class="loader_bounce loader_bounce_1"></div>
                                                <div class="loader_bounce loader_bounce_2"></div>
                                                <div class="loader_bounce loader_bounce_3"></div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 order-3">
                        <aside class="widget-area">

                            <div class="card widget-item">
                                <h4 class="widget-title">Recent Notifications</h4>
                            </div>
                            <div class="card widget-item">
                                <h4 class="widget-title">Advertisement</h4>
                                <div class="widget-body">
                                    <div class="add-thumb">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card widget-item">
                                <h4 class="widget-title">Friends Zone</h4>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>



