
a {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 8px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

strong,
b {
    font-weight: 700;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.btn,
button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: transparent;
}

.btn:active,
.btn:focus,
button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input,
textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

::-moz-selection {
    color: #fff;
    background: #dc4734;
}

::selection {
    color: #fff;
    background: #dc4734;
}

::-webkit-input-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

::-moz-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}

::placeholder {
    color: #999;
    font-size: 13px;
    opacity: 1;
}


.container {
    padding-right: calc(var(--bs-gutter-x) * .625);
    padding-left: calc(var(--bs-gutter-x) * .625);
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 600px;
    }
}

@media only screen and (max-width: 767.98px) {
    .container {
        max-width: 500px;
    }
}

@media only screen and (max-width: 575.98px) {
    .container {
        max-width: 450px;
    }
}

.widget-title {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 45px;
    text-transform: capitalize;
    position: relative;
}

.row {
    --bs-gutter-x: 30px;
}

.pt-80 {
    padding-top: 80px;
}

.header-top {
    -webkit-box-shadow: 0px 1px 20px 0px rgba(85, 85, 85, 0.25);
    box-shadow: 0px 1px 20px 0px rgba(85, 85, 85, 0.25);
}

.sticky {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.mobile-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    height: 60px;
}

.mobile-logo,
.mobile-header-profile {
    width: 80px;
    height: 100%;
    text-align: center;
    background-color: #dc4734;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-logo .profile-thumb-middle,
.mobile-header-profile .profile-thumb-middle {
    border-radius: 0;
}

.mobile-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.mobile-menu ul .message-list {
    display: inherit;
}

.mobile-menu ul li i {
    font-size: 20px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.mobile-menu ul li:hover i {
    color: #dc4734;
}

.notification {
    position: relative;
}

.request-btn-inner {
    margin-top: 5px;
}

.notification span {
    top: -5px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    display: block;
    position: absolute;
    text-align: center;
    background-color: #dc4734;
}

.mob-search-box {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 999;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.mob-search-box.show {
    opacity: 1;
    visibility: visible;
}

.mob-search-inner {
    position: relative;
}

.mob-search-field {
    width: 100%;
    border: none;
    height: 70px;
    padding: 15px 50px 15px 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
}

.mob-search-btn {
    top: 50%;
    right: 10px;
    position: absolute;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mob-search-btn:hover {
    color: #dc4734;
}

.search-trigger {
    position: relative;
}

.search-trigger .close-icon {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.search-trigger .show .search-icon {
    opacity: 0;
    visibility: hidden;
}

.search-trigger .show .close-icon {
    opacity: 1;
    visibility: visible;
}


.mob-text-box {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #f1f1f1;
    padding: 25px;
}

.main-wrapper {
    padding-bottom: 105px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .main-wrapper {
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
}

.card {
    border: none;
    border-radius: 0;
    padding: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
}

@media only screen and (max-width: 767.98px) {
    .card {
        margin-bottom: 10px;
    }
}

.card-small {
    padding: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-profile {
    padding: 0;
}

.card:last-child {
    margin-bottom: 0;
}

.card.widget-item {
    padding: 25px;
}

.share-box-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.share-text-box {
    position: relative;
}

.share-text-box .share-text-field {
    width: 100%;
    border: none;
    display: block;
    min-height: 44px;
    max-height: max-content;
    padding: 13px 90px 13px 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
    box-shadow: inset 0px 1px 10px 0px rgba(85, 85, 85, 0.2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.share-text-box .btn-share {
    float: right;
    background-color: #dc4734;
    color: #ffff;
    padding: 5px 10px;
    border-radius: 50px;
    /* margin-top: 0px; */
}

.post-actions i {
    margin: 5px;
}

.post-actions i:hover {
    cursor: pointer;
}

.post-actions i:hover {
    color: #dc4734;
}

input[type = "file"] {
    display: none;
}

.poll-field {
    border: .5px solid rgba(128, 128, 128, 0.331);
}

.poll-field input {
    display: block;
    width: 95%;
    margin: .5rem;
    border: .5px solid rgba(128, 128, 128, 0.331);
    padding: .5rem;
    border-radius: 5px;
}

.poll-field hr {
    color: rgba(128, 128, 128, 0.771);
}

#remove-poll-button , .remove-image-button{
    width: 100%;
    text-align: center;
    color: red;
    padding: 1rem;
}

#remove-poll-button:hover , .remove-image-button:hover{
    background-color: rgba(229, 95, 95, 0.275);
}


@media only screen and (max-width: 479.98px) {
    .share-text-box .btn-share {
        display: none;
    }
}

.share-text-box .btn-share:hover {
    background-color: #430202;
}

.modal-dialog {
    max-width: 600px;
}

.post-share-btn {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 14px 30px 12px;
    border-radius: 40px;
    background-color: #dc4734;
    text-transform: uppercase;
    cursor: pointer;
}

.post-share-btn:hover {
    background-color: #333333;
}

.share-field-big {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    height: 200px !important;
}

.posted-author {
    margin-left: 20px;
}

.posted-author .post-time {
    display: block;
    font-size: 14px;
    line-height: 1;
    padding-top: 10px;
}

.author {
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
}

.author a {
    color: #333333;
}

.author a:hover {
    color: #dc4734;
    text-decoration: underline;
}

.post-settings-bar {
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.post-settings-bar span {
    width: 20px;
    height: 1px;
    display: block;
    background-color: #ccc;
    margin-bottom: 4px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.post-settings-bar span:last-child {
    margin-bottom: 0;
}

.post-settings-bar:hover span {
    background-color: #dc4734;
}

.post-settings-bar:hover .post-settings {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

.post-settings {
    right: 0;
    top: 100%;
    width: 200px;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    z-index: 9;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}

.post-settings li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.post-settings li button {
    color: #333333;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.post-settings li button:hover {
    color: #dc4734;
}

.post-settings li button:last-child {
    margin-bottom: 0;
}

.post-settings li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.arrow-shape:before {
    right: 10px;
    bottom: 100%;
    content: "";
    position: absolute;
    height: 20px;
    border-bottom: 20px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.post-thumb-gallery {
    border-radius: 5px;
    overflow: hidden;
}

.post-thumb img {
    width: 100%;
}

.post-content {
    padding-top: 18px;
}

.post-desc {
    padding-bottom: 16px;
}

.post-desc-secondary {
    padding-top: 18px;
    padding-bottom: 0;
}

.post-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    margin-top: 20px;
}
.like-page-list-wrapper li {
    margin-bottom: 35px;
}

.like-page-list-wrapper li:last-child {
    margin-bottom: 0;
}

.comment-form {
    position: relative;
    top: 1rem;
}

.comment-inner-form {
    display:flex;
    justify-content: center;
    align-items: center;
}

.comment-input-field {
    border: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #99999922;
    padding: 3px;
}

.loading {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 70px;
    text-align: center;
  }
  
  .loading_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .loader_bounce {
    width: 10px;
    height: 10px;
    background-color: #DC4733;
    border-radius: 100%;
    display: inline-block;
    animation: loading_delay 1.4s infinite ease-in-out both;
    animation-delay: 0s;
  }
  
  .loader_bounce_1 {
    animation-delay: -0.32s;
  }
  
  .loader_bounce_2 {
    animation-delay: -0.16s;
  }
  
  .position-fixed-left {
    position: fixed;
    width: 17%;
  }

  .position-fixed-right {
    position: fixed;
  }

  @keyframes loading_delay {
    0%, 80%, 100% {
        transform: scale(0);
    } 
    40% {
       transform: scale(1);
    }
  }


@media only screen and (max-width: 479.98px) {
    .post-meta .post-meta-like span {
        display: none;
    }
}

.post-meta .post-meta-like strong {
    display: none;
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
    color: #666666;
}

@media only screen and (max-width: 479.98px) {
    .post-meta .post-meta-like strong {
        display: inline-block;
    }
}

.post-meta .comment-share-meta {
    margin-left: auto;
}

.post-meta .comment-share-meta li {
    display: inline-block;
    margin-left: 24px;
}

.post-meta .comment-share-meta li:first-child {
    margin-left: 0;
}

.post-meta-like i,
.post-comment i,
.post-share i {
    font-size: 20px;
    color: #333333;
    vertical-align: middle;
}

.post-meta-like span,
.post-comment span,
.post-share span {
    color: #666666;
    vertical-align: text-bottom;
    padding-left: 8px;
}

.post-meta-like:hover i,
.post-meta-like:hover span,
.post-comment:hover i,
.post-comment:hover span,
.post-share:hover i,
.post-share:hover span {
    color: #dc4734;
}


.profile-banner-small {
    position: relative;
}

.profile-banner-small:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 10px solid rgba(198, 165, 107, 0.3);
}

.profile-banner img {
    width: 100%;
}

.profile-thumb-2 {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    bottom: -40px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.profile-desc {
    padding: 30px;
    margin-top: 25px;
}

.profile-desc p {
    font-size: 13px;
    color: #666666;
    padding-top: 10px;
}

.profile-banner-large {
    height: 370px;
}


.like-button i:hover {
    color: red;
}


@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .profile-banner-large {
        height: 270px;
    }
}

@media only screen and (max-width: 767.98px) {
    .profile-banner-large {
        height: 190px;
    }
}

.main-menu li {
    display: inline-block;
}

.profile-picture-box {
    position: absolute;
    -webkit-transform: translateY(calc(-50% - 10px));
    -ms-transform: translateY(calc(-50% - 10px));
    transform: translateY(calc(-50% - 10px));
    background-color: #fff;
    z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .profile-picture-box {
        -webkit-transform: translateY(calc(-50% - 10px));
        -ms-transform: translateY(calc(-50% - 10px));
        transform: translateY(calc(-50% - 10px));
    }
}

@media only screen and (max-width: 767.98px) {
    .profile-picture-box {
        left: 0;
        right: 0;
        margin: auto;
        width: 100px;
    }
}

.profile-picture {
    position: relative;
}

@media only screen and (max-width: 575.98px) {
    .profile-picture {
        width: 100px;
    }
}

.profile-picture:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    border: 10px solid #fff;
}

@media only screen and (max-width: 767.98px) {
    .profile-picture:before {
        border: 5px solid #fff;
    }
}

@media only screen and (max-width : 800px) {
    .header-top-right {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .widget-area {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767.98px) {
    .widget-area {
        margin-top: 10px;
    }
}
