.header-top {
    -webkit-box-shadow: 0px 1px 20px 0px rgba(85, 85, 85, 0.25);
    box-shadow: 0px 1px 20px 0px rgba(85, 85, 85, 0.25);
}

@media only screen and (max-width: 767.98px) {
    .header-top-navigation {
        text-align: center;
        margin-top: 50px;
    }
}

.header-top-navigation ul li {
    display: inline-block;
    margin-right: 60px;
    position: relative;
}

.header-top-navigation ul li:before {
    top: 50%;
    left: 100%;
    content: '/';
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

@media only screen and (max-width: 767.98px) {
    .header-top-navigation ul li:before {
        display: block;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-top-navigation ul li {
        margin-right: 45px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .header-top-navigation ul li {
        margin-right: 15px;
        padding-right: 15px;
    }
}

.header-top-navigation ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.header-top-navigation ul li:last-child:before {
    display: none;
}

.header-top-navigation ul li a {
    color: #333333;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 21px 0;
    text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .header-top-navigation ul li a {
        font-size: 14px;
        font-weight: 500;
        padding: 18px 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .header-top-navigation ul li a {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0;
    }
}

.header-top-navigation ul li:hover a,
.header-top-navigation ul li.active a {
    color: #dc4734;
}

.header-top-navigation ul li .message-dropdown {
    top: 100%;
    left: 0;
    width: 500px;
    height: auto;
    padding: 15px;
    position: absolute;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    z-index: 999;
    display: none;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
}

.header-top-navigation ul li .message-dropdown li a {
    padding: 0;
}

.header-top-search {
    margin-right: 25px;
}

@media only screen and (max-width : 800px) {
    .header-top-right {
        justify-content: center;
    }
}

.header-top-search {
    margin-right: 25px;
}

.top-search-box {
    min-width: 250px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.top-search-field {
    border: none;
    width: 100%;
    padding-right: 30px;
    background-color: transparent;
}

.top-search-btn {
    top: 0;
    right: 0;
    font-size: 20px;
    position: absolute;
    color: #333333;
}

.top-search-btn:hover {
    color: #dc4734;
}

button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.profile-setting-box .profile-dropdown {
    top: 100%;
    right: 0;
    width: 250px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    display: none;
}


.profile-setting-box {
    position: relative;
}

.profile-setting-box .profile-thumb-small a {
    display: block;
}


.profile-setting-box .profile-head {
    padding: 20px;
}

.profile-setting-box .profile-head .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 7px;
}

.profile-setting-box .profile-head .name a {
    color: #333333;
}

.profile-setting-box .profile-head .name a:hover {
    color: #dc4734;
}

.profile-setting-box .profile-head .mail {
    font-size: 13px;
    color: #444444;
    display: block;
}

.profile-setting-box .profile-head .mail:hover {
    color: #dc4734;
}

.profile-setting-box .profile-body ul {
    padding: 20px 0;
    border-top: 1px solid #dddddd;
}

.profile-setting-box .profile-body ul li {
    line-height: 1;
    margin-bottom: 15px;
}

.profile-setting-box .profile-body ul li:last-child {
    margin-bottom: 0;
}

.profile-setting-box .profile-body ul li a {
    color: #444444;
    padding: 0 20px;
}

.profile-setting-box .profile-body ul li a i {
    font-size: 16px;
    padding-right: 8px;
}

.profile-setting-box .profile-body ul li:hover a {
    color: #dc4734;
}

.profile-setting-box .profile-head .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 7px;
}

.profile-setting-box .profile-head .name a {
    color: #333333;
}

.profile-setting-box .profile-head .name a:hover {
    color: #dc4734;
}

.profile-setting-box .profile-head .mail {
    font-size: 13px;
    color: #444444;
    display: block;
}

.profile-setting-box .profile-head .mail:hover {
    color: #dc4734;
}

.profile-thumb-small {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.profile-setting-box .profile-thumb-small a {
    display: block;
}


.profile-thumb {
    display: inline-block;
    position: relative;
}

.profile-thumb-middle {
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.profile-thumb.active {
    overflow: visible;
}

.profile-thumb.active img {
    border-radius: 50%;
}

.profile-thumb.active:before {
    bottom: 2px;
    right: -2px;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    position: absolute;
    background-color: #09ae82;
}

.header-top-search {
    margin-right: 25px;
}

.top-search-box {
    min-width: 250px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.top-search-field {
    border: none;
    width: 100%;
    padding-right: 30px;
    background-color: transparent;
    outline: none;
}

.top-search-btn {
    top: 0;
    right: 0;
    font-size: 20px;
    position: absolute;
    color: #333333;
    background-color: #ffff;
    border: none;
    outline: none;
}

.top-search-btn:hover {
    color: #dc4734;
}

nav ul li a{
    text-decoration: none;
}

#sign-out-button {
    transition: all .4s;
    color: #DB4832;
    margin-left: .4rem;
    font-size: 12px;
}

#sign-out-button:hover {
    cursor: pointer;
    background-color: #DB4832;
    color: #ffff;
    padding: 2px;
    border-radius: 5px;
}