.card {
    border: none;
    border-radius: 0;
    padding: 5px 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: .5px solid rgba(128, 128, 128, 0.384);

}

textarea {
    outline: none;
    resize: none;
    margin-bottom: .5rem;
}

.card:last-child {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.post-pp {
    border-radius: 50%;
}

.posted-author {
    margin-left: 10px;
}

.posted-author .post-time {
    display: block;
    font-size: 14px;
    line-height: 1;
}

.author {
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
}

.author a {
    color: #333333;
}

.author a:hover {
    color: #dc4734;
    text-decoration: underline;
}

.post-settings-bar {
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.post-settings-bar span {
    width: 20px;
    height: 1px;
    display: block;
    background-color: #ccc;
    margin-bottom: 4px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.post-settings-bar span:last-child {
    margin-bottom: 0;
}

.post-settings-bar:hover span {
    background-color: #dc4734;
}

.post-settings-bar:hover .post-settings {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

.post-settings {
    right: 0;
    top: 100%;
    width: 200px;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    z-index: 9;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}

.post-settings li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.post-settings li button {
    color: #333333;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.post-settings li button:hover {
    color: #dc4734;
}

.post-settings li button:last-child {
    margin-bottom: 0;
}

.post-settings li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

.arrow-shape:before {
    right: 10px;
    bottom: 100%;
    content: "";
    position: absolute;
    height: 20px;
    border-bottom: 20px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.post-content {
    padding-top: 18px;
}

.post-desc {
    padding-bottom: 16px;
}

.post-desc-secondary {
    padding-top: 18px;
    padding-bottom: 0;
}

.post-thumb-gallery {
    border-radius: 5px;
    overflow: hidden;
}

.post-thumb img {
    width: 100%;
}

.post-meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 1.5rem;
}

.post-meta .post-meta-like strong {
    display: none;
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
    color: #666666;
}

.post-meta .comment-share-meta li {
    display: inline-block;
    margin-left: 24px;
}

.post-meta .comment-share-meta li:first-child {
    margin-left: 0;
}

.post-meta-like i,
.post-comment i,
.post-share i {
    font-size: 20px;
    color: #333333;
    vertical-align: middle;
}

.post-meta-like span,
.post-comment span,
.post-share span {
    color: #666666;
    vertical-align: text-bottom;
    padding-left: 8px;
}

.post-meta-like:hover i,
.post-meta-like:hover span,
.post-comment:hover i,
.post-comment:hover span,
.post-share:hover i,
.post-share:hover span {
    color: #dc4734;
}

.post-meta ul {
    padding-left: 0;
}

.post-meta .comment-share-meta li {
    display: inline-block;
    margin-left: 24px;
}

.post-meta .comment-share-meta li:first-child {
    margin-left: 0;
}

#post-seen-info {
    font-size: small;
}

#post-seen-info:hover {
    cursor: default;
}

#post-seen-info span {
    padding-left: 1.5px;
}

.comment-form {
    position: relative;
    top: 1rem;
}

.comment-inner-form {
    display:flex;
    justify-content: center;
    align-items: center;
}

.comment-input-field {
    border: none;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #99999922;
    padding: 3px;
}

.loading {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .loader {
    width: 70px;
    text-align: center;
  }

  .loader_bounce {
    width: 10px;
    height: 10px;
    background-color: #DC4733;
    border-radius: 100%;
    display: inline-block;
    animation: loading_delay 1.4s infinite ease-in-out both;
    animation-delay: 0s;
  }
  
  .loader_bounce_1 {
    animation-delay: -0.32s;
  }
  
  .loader_bounce_2 {
    animation-delay: -0.16s;
  }

  .btn,
  button {
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      background-color: transparent;
  }

  .btn:active,
.btn:focus,
button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.comment-list {
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.comment-list li {
    background-color: #F9F9F9;
    list-style: none;
}


@media only screen and (max-width: 479.98px) {
    .post-meta .post-meta-like span {
        display: none;
    }

    .post-meta .post-meta-like strong {
        display: inline-block;
    }
}

@media only screen and (max-width: 767.98px) {
    .card {
        margin-bottom: 10px;
    }
}