<div *ngIf="timelinePosts">
    <div class="card" *ngFor="let post of timelinePosts" style="margin-bottom: 30px; padding-bottom: 30px;">
        <div class="post-title d-flex align-items-center">
    
            <div class="profile-thumb">
                <a href="#">
                    <figure class="profile-thumb-middle">
                        <img class="post-pp" src="../../../../assets/images/profile-p.webp" alt="profile picture">
                    </figure>
                </a>
            </div>
    
            <div class="posted-author">
                <h6 class="author"><a href={{post.authorUserName}}>{{post.authorFirstName}} {{post.authorLastName}}</a></h6>
                <span class="post-time">{{post.timeDif}}</span>
            </div>
    
            <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
                <div class="post-settings arrow-shape">
                    <ul>
                        <li><button>Report</button></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="post-content">
            <p class="post-desc">
                {{post.text}}
            </p>
            <div class="post-thumb-gallery">
                <figure class="post-thumb img-popup" *ngIf="post.photos.length > 0">
                    <a href="{{post.photos[0]}}" target="_blank">
                        <img src={{post.photos[0]}} alt="post-image">
                    </a>
                </figure>
            </div>
            <div class="post-meta ms-2">
                <ul class="comment-share-meta w-100">
                    <li>
                        <button class="post-meta-like d-flex align-items-center">
                            <i class="bi bi-heart" (click) = 'handlePostLike(post.id)'></i>
                            <span>{{post.likesCount}}</span>
                        </button>
                    </li>
                    <li>
                        <button class="post-comment d-flex align-items-center" (click) = 'openComments(post.id)'>
                            <i class="bi bi-chat-right-dots"></i>
                            <span>{{post.comments.length}}</span>
                        </button>
                    </li>
                    <li style="position: absolute; right: 2rem;">
                        <button class="post-share d-flex align-items-center" id="post-seen-info">
                            <i class="bi bi-eye"></i>
                            <span>7</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div *ngIf="post.commentsClicked" class="comment-form">
                <hr>
                <strong>Comments</strong>
                <hr style="visibility: hidden;" *ngIf="post.comments.length === 0">
                <ul *ngIf="post.comments.length > 0" class="comment-list">
                    <li *ngFor="let comment of post.comments" class="p-2">
                        <div class="comment-header">
                            <span style="color: #DB4734;">@canercalskan</span>
                            <span class="float-end" style="font-size: 13px;">{{comment.timediff}}</span>
                        </div>
                        <hr style="margin: 0; border-style: dotted;">
                        <div class="comment-content">
                            <span style="font-family: 'Lora', serif; font-size: 15px;">{{comment.text}}</span>
                            <span class="float-end">
                                <span style="color: #7AF922;">
                                    0<i class="bi bi-hand-thumbs-up"></i>
                                </span>
                                <span style="color: #FF0000;" class="ms-1">
                                    0<i class="bi bi-hand-thumbs-down"></i>
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>
                <hr style="color: #FF0000; border-style: dotted;" *ngIf="post.comments.length > 0">
                <form class="comment-inner-form" #commentForm = 'ngForm' (submit) = 'handleCommentSubmission(commentForm.value , post.id); commentForm.reset()' ngNativeValidate>
                    <textarea type="text" name="CommentText" class="comment-input-field" placeholder="Make a comment.." ngModel required></textarea>
                    <button type="submit" class="comment-submit-button"><i class="bi bi-send"></i></button>
                </form>
                <div class="loading" id="animation-loading" *ngIf="showCommentLoadingAnimation">
                    <div class="loading-inner">
                      <div class="loader">
                        <div class="loader_bounce loader_bounce_1"></div>
                        <div class="loader_bounce loader_bounce_2"></div>
                        <div class="loader_bounce loader_bounce_3"></div>
                      </div>
                    </div>
                  </div>
            </div>
    </div>
    </div>
</div>

<div *ngIf="userProfile">
    <div class="card" *ngFor="let post of userProfile.posts">
        <div class="post-title d-flex align-items-center">

            <div class="profile-thumb">
                <a href="#">
                    <figure class="profile-thumb-middle">
                        <img src="../../../../assets/images/profile-p.webp" alt="profile picture">
                    </figure>
                </a>
            </div>

            <div class="posted-author">
                <h6 class="author"><a href="profile.html">{{post.authorFirstName}} {{post.authorLastName}}</a></h6>
                <span class="post-time">{{post.timeDif}}</span>
            </div>

            <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
                <div class="post-settings arrow-shape">
                    <ul>
                        <li><button>Report</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="post-content">
            <p class="post-desc">
                {{post.text}}
            </p>
            <div class="post-thumb-gallery">
                <figure class="post-thumb img-popup" *ngIf="post.photos.length > 0">
                    <a href="{{post.photos[0]}}" target="_blank">
                        <img src={{post.photos[0]}} alt="post-image">
                    </a>
                </figure>
            </div>
            <div class="post-meta">
                <ul class="comment-share-meta w-100">
                    <li>
                        <button class="post-meta-like d-flex align-items-center">
                            <i class="bi bi-heart" (click) = 'handlePostLike(post.id)'></i>
                            <span>{{post.likesCount}}</span>
                        </button>
                    </li>
                    <li>
                        <button class="post-comment d-flex align-items-center" (click) = 'openComments(post.id)'>
                            <i class="bi bi-chat-right-dots"></i>
                            <span>{{post.comments.length}}</span>
                        </button>
                    </li>
                    <li style="position: absolute; right: 2rem;">
                        <button class="post-share d-flex align-items-center" id="post-seen-info">
                            <i class="bi bi-eye"></i>
                            <span>7</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div *ngIf="post.commentsClicked" class="comment-form">
                <hr>
                <strong>Comments</strong>
                <hr style="visibility: hidden;" *ngIf="post.comments.length === 0">
                <ul *ngIf="post.comments.length > 0" class="comment-list">
                    <li *ngFor="let comment of post.comments" class="p-2">
                        <div class="comment-header">
                            <span style="color: #DB4734;">@canercalskan</span>
                            <span class="float-end" style="font-size: 13px;">{{comment.timediff}}</span>
                        </div>
                        <hr style="margin: 0; border-style: dotted;">
                        <div class="comment-content">
                            <span style="font-family: 'Lora', serif; font-size: 15px;">{{comment.text}}</span>
                            <span class="float-end">
                                <span style="color: #7AF922;">
                                    0<i class="bi bi-hand-thumbs-up"></i>
                                </span>
                                <span style="color: #FF0000;" class="ms-1">
                                    0<i class="bi bi-hand-thumbs-down"></i>
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>
                <form class="comment-inner-form" #commentForm = 'ngForm' (submit) = 'handleCommentSubmission(commentForm.value , post.id); commentForm.reset()' ngNativeValidate>
                    <textarea type="text" name="CommentText" class="comment-input-field" placeholder="Make a comment.." ngModel required></textarea>
                    <button type="submit" class="comment-submit-button"><i class="bi bi-send"></i></button>
                </form>
                <div class="loading" id="animation-loading" *ngIf="showCommentLoadingAnimation">
                    <div class="loading-inner">
                      <div class="loader">
                        <div class="loader_bounce loader_bounce_1"></div>
                        <div class="loader_bounce loader_bounce_2"></div>
                        <div class="loader_bounce loader_bounce_3"></div>
                      </div>
                    </div>
                  </div>
            </div>
    </div>
</div>
</div>
